fastapi
uvicorn
aiohttp
numpy
cryptography
python-dotenv
aiosqlite
solders
anchorpy
prometheus-client
prometheus-fastapi-instrumentator
solana
base58
nest-asyncio
construct-typing
aiosqlite
pandas
scikit-learn
websocket-client
